*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          text-decoration: none;
          list-style: none;
          object-fit: cover;
         
}
.nav-bar{
          
          width: 100%;
          background-color: #17201b4f;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border-bottom: 2px solid rgba(0, 0, 0, 0.132);
          padding: .5rem;
         
}
.nav-bar ul{
          display:flex;
          gap: 2rem;      
}
.humberger_menu{
          display: none;
          padding-right: .6rem;
}
#humberger-menu,#humberger-close{
          display: none;
          font-size: xx-large;
          
}

.nav-bar ul li a{
          font-size: calc(12px + .5vw);
          color: black;
          font-weight: 600;
          letter-spacing: 1px;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media(max-width:277px){
          .nav-bar ul{
          display: none; 
          }
          
          #humberger-menu{
          display: flex;
          }
          .humberger_menu{
          display: flex;
          width: 100%;
          justify-content: flex-end;
          
          }
          .nav-bar{
          justify-content: space-between;

          }
          #nav-ul{
          display: none;
          position: absolute;
          right: 0;
          top: 35px;
          background-color: rgba(0, 0, 0, 0.664);
          
          }
          .nav-bar ul li a{
          font-size: calc(12px + .5vw);
          color: white;
          
          }
          .nav-bar ul li{
                    
          border-bottom:2px solid white;
          width: 100%;
          padding: 8px 15px;
          }
          .nav-bar ul li:hover{
          background-color: rgb(54, 76, 54);
          }
          
}
 
.first_section{
          display: flex;
          flex-wrap: wrap;
          height: 50svh;
          justify-content: center;
          background-color: rgba(134, 160, 160, 0.075);
          padding: .7rem;
          overflow: auto;
}
.first_section p{
          letter-spacing: 2px;
          padding-top: 10px;
          
          }
.first_section img{
          display: none;
}
#who_i_am{
          text-align: center;
          font-family: sans-serif;
          letter-spacing: 2px;
          padding: 1.5rem 0;
          color: black;
          background-color: #17201b4f;
          border-bottom: 3px black dotted;
}

@media(min-width:600px){
          .first_section{
          display:flex;
          justify-content: space-evenly;
          align-items: center;
          height: 50svh;
          }
          .first_section img{
          display: block;
          width: calc(7.5rem + 8vw);
          border-radius: 20px;
          height: 90%;
          }
          .first_section p{
          width: 70%;
          }
          
}
 /* majors section */
.hoobies{
         
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         gap: 2rem;
         margin: 2rem 0;

}

#developer,#youtuber,#singer{
          width: 70%;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
}
#developer-image,#youtuber-image,#singer-image{
          width: 80%;
          height: 50%;
          object-fit: contain;
}
#developer-text,#youtuber-text,#singer-text{
          color: white;
          width: 100%;
          height: 50%;
          background-color: black;
          overflow: auto;
        
}
.hoobies img{
          width: 100%;
          height: 100%;
}
#hoobies-title{
          text-align: center;
          font-family: 'Courier New', Courier, monospace;
          border-bottom: 2px solid white;
}
.hoobies p{
          font-family: sans-serif;
          font-size: calc(.5rem + 1vw);
          text-align: center;
}
@media(min-width:550px){
          .hoobies{
          flex-direction: row;
          padding: 2rem;
          }
          #developer,#youtuber,#singer{
          width: 100%;
          height: 300px;
          max-width: 300px;
          text-align: center;
          }
          #developer-image,#youtuber-image,#singer-image{
          width: 100%;
          height: 50%;
          object-fit: contain;
          }
          .hoobies img{
          border-radius: 20px 20px 0 0;
          }
          #developer-text,#youtuber-text,#singer-text{
          border-radius: 0 0 10px 10px;
          padding: 5px;
          }
          .hoobies p{
          font-family: sans-serif;
          font-size: calc(.6rem + .6vw);
          text-align: center;
          }
          #hoobies-title{
          margin: 1rem;
          }
          #hoobies h2{
                    margin: 1rem 0;
                    font-size: 1.3rem;
                    font-weight: 700;
          }

         
}


/* footer or contact page */

.footer{
          background-color: black;
          color: white;
          text-align: center;
          padding:3rem 1rem 0 1rem;   
}
.footer p{
          font-size: calc(6px + 1vw);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-bottom: 1rem;
}
@media(min-width:1000px){
          .footer p{
          font-size:1rem;
          }
}
@media (max-width:1000px){
          .footer p{
                    font-size:calc(.6rem + 1vw);
          }
}
#input-form{
          height: 50vh;
          
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          padding: 1rem;
}
@media(min-width:600px){
          #input-form{
                    margin: 0 20%;
          }
}
@media(min-width:900px){
          #input-form{
                    margin: 0 30%;
          }
}
#input-form input{
          padding: 10px;
          letter-spacing: 1px;
          font-size: calc(.7rem + .5vw);
          font-weight: 700;

}

#country_selection{
          padding: .3rem;
          font-weight: 700;
}
#text_area{
          padding: .3rem;
          font-weight: 700;
          font-size: .8rem;
          height: 100%;
}
#input-form button{
          width: 20%;
          font-size: 1.2rem;
          font-weight: 700;
}
@media screen and (min-width:800px) {
          #input-form button{
          width: 10%;
          }
}


.footer-links ul li a{
          color: white;
          font-size: large;
}
@media screen and (min-width:500px) {
          .footer-links ul li a{
          font-size: x-large;
          }
}

.footer-links ul{
          padding-top:2rem ;
          display: flex;
          justify-content: center;
          gap: 2rem;
}